<ul class="nav flex-column" style="background-color: #e3f2fd;">
  <li class="nav-item">
    <a class="nav-link " *ngIf="hasRoleAdmin()"[routerLink]="[{outlets: { contentOutlet: 'dashboard'}}]" routerLinkActive="active">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" *ngIf="hasRoleUser()" [routerLink]="[{outlets: { contentOutlet: 'produit'}}]" routerLinkActive="active">Produits</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" *ngIf="hasRoleAdmin()" [routerLink]="[{outlets: { contentOutlet: 'user'}}]" routerLinkActive="active">Utilisateurs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>